@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================
   THEME SYSTEM (Tailwind + next-themes)
========================= */
@layer base {
  :root {
    /* Light mode (fallback nếu dùng) */
    --background: 0 0% 100%;
    --background-strong: linear-gradient(
    to right,
    #bbf7d0,
    #f3f4f6,
    #dcfce7
  );
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 142 71% 45%;
    --primary-foreground: 144 70% 96%;

    --secondary: 210 40% 96%;
    --secondary-foreground: 222 47% 11%;

    --muted: 210 40% 96%;
    --muted-foreground: 215 20% 40%;

    --accent: 210 40% 96%;
    --accent-foreground: 222 47% 11%;

    --destructive: 0 63% 50%;
    --destructive-foreground: 210 40% 98%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 142 71% 45%;

    --radius: 0.75rem;
  }

  /* =========================
     DARK MODE (main UI của bạn)
     ThemeProvider sẽ add class="dark"
  ========================= */
  .dark {
    --background: 222 47% 11%;
    --background-strong: 222 47% 8%;
    --foreground: 210 40% 98%;

    --card: 222 47% 13%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 13%;
    --popover-foreground: 210 40% 98%;

    --primary: 142 71% 45%;
    --primary-foreground: 144 70% 96%;

    --secondary: 217 32% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 32% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 217 32% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 50%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 32% 20%;
    --input: 217 32% 20%;
    --ring: 142 71% 45%;
  }

  /* =========================
     BASE RESET
  ========================= */

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}